<web-app>

    <display-name>Test servlet</display-name>

    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>test.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

</web-app>
